* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
  }

  body {
    background-color: #0f172a;
    color: white;
  }

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    height: 15vh;
  }

  h1 {
    display: flex;
    width: 40%;
    height: 50%;
    justify-content: center;
    align-items: center;
  }

  main {
    background-color: slategray;
    margin: 0 auto;
    width: 60%;
    height: 70vh;
    border-radius: 20px;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
  }

  form {
    background-color: black;
    height: 90%;
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    border: 2px solid white;
    border-radius: 20px;
  }

  .question {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin: 23px 0 0;
  }

  label {
    font-size: 1.3rem;
    width: 90%;
    text-align: center;
  }
  
  .input-field {
    font-size: 1.2rem;
    width: 80%;
    text-align: center;
    margin: 10px auto;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  }

  input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
  }

  .button-submit {
    background-color: black;
    color: white;
    width: 50%;
    height: 20%;
    font-size: 1.1rem;
    border: 1px solid white;
    border-radius: 10px;
    align-self: end;
    margin: 0 0 10px;
  }

  .button-submit:hover {
    background-color: darkblue;
  }

  footer {
      height: 15vh;
  }